
body {
            margin: 0;
            padding: 0;
            font-family: sans-serif;
            background: snow;
        }
        .cuenta-regresiva {
            background: #534a7a;
            display: flex;
            text-align: center;
            justify-content: center;
            gap: 1em;
            padding: 0.5em;
        }
        .cr-time > span {
            font-size: 42px;
            font-weight: bold;
            color: #fff;
        }
        .cr-desc {
            color: lightpink;
                    
        }
        .cr-block {
            background: #8174b4;
            border-radius: 10px;
            padding: 0.5em 0.8em;
        }
        /*.foto{width: 100%;
            background-color: yellowgreen;
            padding: 10px;
             display: flex;
             
         }*/
         img{width: 50%;}
         h2{color: #C2BCDB;
        text-align: center;
    font-family: Brush Script MT , Geneva, Tahoma, sans-serif ;
    margin-bottom: 0px;
    padding: 10px 10px;
    margin-top: 0px;}

    .galeria{

    aspect-ratio: 10/16;
    display: flex;
    width: 100%;
    position: relative;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    text-align: center;


    
}

.elementor-row{text-align: center;}
.galeria__imagen{
    width: 100%;
    left: 0;
    position: sticky;
    border-radius: 5px;
    scroll-snap-align: center;
    object-fit: cover;
     text-align: center;
    justify-content: center;
   
}
/*nuevas fotos*/
.slider{width: 100%;
height: 600px;
overflow: hidden;}
.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 300%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
25%{margin-left: -100%;}
45%{margin-left: -100%;}
50%{margin-left: -200%;}
70%{margin-left: -200%;}
75%{margin-left: -300%;}
100%{margin-left: -300%;}

}
.restan{
    text-shadow: 0 0 20px #00fffb, 0 0 40px #0081bc;
    background-color: #534a7a;
    padding: 0;


}
main {text-align: center;
display:    none;}
h2{
color: white;}
IFRAME{width: 300PX}

 .corazon img{width: 400px;
     animation:beat 1s linear infinite;}

    @keyframes beat{
        0%{transform:scale(0.75 );opacity: 0.5;background: SNOW
        }
        50%{transform:scale(1);opacity:1;background: SNOW;

        }
        100%{transform:scale(0.75);opacity:0.5;background: SNOW;

        }
    }
button{background: blueviolet;
color: white;
box-shadow:0 0 20px #00fffb, 0 0 40px #0081bc;}


@media screen and (max-width:550px){
    .galeria{
        object-fit: cover ;
        text-align: center;

    }
      .cr-desc {
           
                    font-size: 10px;color:red
        }
    .cr-time > span{ font-size: 15px;}
    .cr-block {
            
            border-radius: 10px;
            padding: 0.1em 0.3em;


}

/*whatsapp y corazon*/

 .whtsp{width: 100%;
        height: 10px;
        padding-top: 10px;
        text-align: center;
        background: snow  ;

       
    }
    p {background: snow;
    font-family: Brush Script MT}

    .dd {background: snow}

    .dd img{height: 50px;
        margin-top:     20px;
        width:  50px}

    .corazon{background: SNOW;
        text-align: center;
     }

     .corazon img{width: 200px;
     animation:beat 1s linear infinite;}

    @keyframes beat{
        0%{transform:scale(0.75 );opacity: 0.5;background: SNOW
        }
        50%{transform:scale(1);opacity:1;background: SNOW;

        }
        100%{transform:scale(0.75);opacity:0.5;background: SNOW;

        }
    }
    .c2 {background: yellow;}
      }  

@media screen and (min-width:350px)and(max-width:500px){
    .galeria{
        object-fit: cover ;
        text-align: center;

    }
      .cr-desc {
           
                    font-size: 10px;color:yellow
        }
    .cr-time > span{ font-size: 15px;}
    .cr-block {
            
            border-radius: 10px;
            padding: 0.1em 0.3em;}
}
